{% extends "base.html" %}
{% set active_page = "processing.index" %}

{% block content %}
<div class="container">

  <h1>Modeling and Processing</h1>

  <p>
    Here you will be able to select a model, browse data that's ready
    for that model, and run the model.
  </p>
  <p>
    We will also enable services like creating grids from weather
    station data and a DEM for a watershed. This page will proved 
    access to tools for downloading customized PRISM data (custom projection, 
    time frame, grid area, etc.).
  </p>


</div>
{% endblock %}
