{% extends "base.html" %}
{% set active_page = "processing.index" %}

{% block content %}
<div class="container">

  <h1>Modeling and Processing</h1>

  <p>
    Here you will be able to select a model, browse data that's ready
    for that model, and run the model.
  </p>
  <p>
    We will also enable services like creating grids from weather
    station data and a DEM for a watershed. This page will proved 
    access to tools for downloading customized PRISM data (custom projection, 
    time frame, grid area, etc.).
  </p>

  <div class="col-md-1"></div>
  <div class="col-xs-6 col-md-5 col-lg-5">
    <h2>Processing Tools</h1>
    <ul>
      <li>Gridded input data from weather station data</li>
    </ul>
    <ul>
      <li><a href="http://www.firelab.org/project/windninja">WindNinja</a> Web Interface</li>
    </ul>
  </div>
  <div class="col-xs-6 col-md-3 col-lg-5">
    <h2>Models</h1>
    <ul>
      <li><a href="{{ url_for('.prms') }}">PRMS</a></li>
    </ul>
    <ul>
      <li>iSNOBAL</li>
    </ul>
  </div>
  <div class="col-md-1"></div>


</div>
{% endblock %}
