{% extends "base.html" %}
{% set active_page = "processing.index" %}

{% block content %}
<div class="container">

  <h1>PRMS</h1>

  <p>
    Upload your PRMS data here to generate and download a NetCDF
    translation of your data. Eventually your data and the NetCDF
    version of your data will both be automatically inserted to the 
    virtual watershed. Once we have that done, we will make it so that 
    you can actually run PRMS on the data you upload.
  </p>

  <p>
    For more information on PRMS see the <a
      href="http://wwwbrr.cr.usgs.gov/projects/SW_MoWS/PRMS.html">USGS's
    PRMS documentation</a>.
  </p>

  <body>      
       
  <form action="upload" method="post" enctype="multipart/form-data">
    <div align = "center">
    <table>
        <tr><td>Upload input file</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><input name = "input-file" type = "file" value = '' id = "input-file"></input></td></tr>
        <tr><td>Upload hru file</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><input name = "hru-file" type = "file" value = '' id = "hru-file"></input></td></tr>
        <tr><td>Number of rows</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><input name = "row" type = "text" value = '' id = "row"></input></td></tr>
        <tr><td>Number of columns</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><input name = "column" type = "text" value = '' id = "column"></input></td></tr>
        <tr><td> EPSG value </td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td><input name = "epsg" type = "text" value = '4326' id = "epsg"></input></td></tr>
    </table> 
    <br/>
    <div align = center><INPUT Type="submit" VALUE="Convert" ></div>
    </div>
  </form>
  
  </body>

<br/>

<div align = "center">{{InputErrorMessage}}</div>
{% endblock %}   
