{% extends "base.html" %}

{% block content %}

<p>
  By creating an account, we can enable your shared data to better
  reach its audience, increasing the likelihood that you get cited for
  your data! This step is required for obtaining a DOI for your data,
  as well as making your data available for <a href="/search">search</a> 
  when you link or upload your data to the virtual watershed platform.
</p>

<p>
Already have an account? <a href={{ url_for('auth.login') }}>Log in</a>
</p>

<div class="form-container">
<form method="POST" class=fancy>
  {{ form.csrf_token }}

  {{ form.name.label }} {{ form.name() }} 

  {{ form.affiliation.label }} {{ form.affiliation() }} 

  {{ form.state.label }} {{ form.state() }} 

  {{ form.city.label }} {{ form.city() }} 

  {{ form.email.label }} {{ form.email() }} 

  {{ form.password.label }} {{ form.password() }} 

  {{ form.confirm.label }} {{ form.confirm() }} 
  
  {{ form.submit() }}
</form>
</div>

{% if form.errors %}
    {{ form.errors }}
{% endif %}

<br>

{% endblock %}
