# Everything needed in production
alembic==0.8.6
configparser==3.5.0b2
eventlet==0.18.4
Flask-Migrate==1.8.0
Flask-Moment==0.5.1
Flask-Script==2.0.5
Mako==1.0.4

python-editor==1.0
python-swiftclient==3.0.0
requests==2.9.1
six==1.10.0


# Flask
Flask==0.10.1
MarkupSafe==0.23
Werkzeug==0.10.4
Jinja2==2.7.3
itsdangerous==0.24
futures==3.0.5
greenlet==0.4.9

# Database
psycopg2
Flask-SQLAlchemy==2.0
SQLAlchemy==0.9.8


# Forms
Flask-WTF==0.11
WTForms==2.0.2

# Deployment
gunicorn>=19.1.1

# Assets
Flask-Assets==0.10
cssmin>=0.2.0
jsmin>=2.0.11

# Auth
Flask-Login<0.3
Flask-Bcrypt==0.6.2

# Caching
Flask-Cache>=0.13.1

# Debug toolbar
Flask-DebugToolbar==0.9.2

# REST Api
flask-restless==0.17.0
marshmallow==2.0.0rc1

Flask-Session==0.2.3
vw-gstore-adapter==1.0.0

#validation api
voluptuous == 0.8.7

#for cors
flask-cors == 2.1.0

#pyee for modlerunner
pyee==1.0.1

# for storage
#Flask-Cloudy==0.13.1
# This is a fork of flask-cloudy, it extends flsk-cloudy to allow openstack-swift storage
git+https://github.com/itsrifat/flask-cloudy.git@v-0.13.1.1.libcloud1#egg=Flask-Cloudy
# This is a slight modified version of the apache-libcloud-0.20.1.
# It overrides a method in OpenStackStorageDriver in order to allow creation of temporary url for objects stored in it
git+https://github.com/itsrifat/libcloud.git@vw-1.0#egg=apache-libcloud-vw-1.0

# For config
python-decouple==3.0

# For celery
celery==3.1.21
redis==2.10.5
flower==0.8.4

# for auth
#git+https://github.com/VirtualWatershed/vw-auth.git@v-1.0.0#egg=vw-auth-v-1.0.0
Flask-JWT==0.3.2
Flask-Security==1.7.4

# Testing
pytest>=2.6.3
webtest
factory-boy==2.5.1

# For config
git+https://github.com/VirtualWatershed/vwmodels-python-client.git@capstone



