html, body {
  margin: 0;
  padding: 0;
  border-width:0;
  font-family: Allerta, sans-serif;
}

p {
  margin: 20px 60px;
}

form {
    text-align: left;
    margin: 45px auto;
    width: 85%;
}

form label {
    display: table-cell;
    text-align: left;
}

form input {
  width: 100%;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
  margin: 10px;
}

form input#submit {
  width: 101.5%;
  display: block;
  -webkit-border-radius: 3px; 
     -moz-border-radius: 3px;
          border-radius: 3px;
  margin: 25px 10px;
  border:1px solid #d8d8d8;
  font-weight:bold; 
  text-align: center; 
  color: #000000; 
  background-color: #fafaf1;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: linear-gradient(top, #f4f4f4, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
  font-size: 1.2em;
}

#nonheaderBody {
  border: solid #444; 
  border-width: 10px 100px;
}
#headerBar {
  margin: 0;
  height: 40px;
  background: #74C2E1;
}

svg {
  display: block;
  margin: auto;
}
.box {
  display: block;
  margin: auto;
  
    -webkit-filter: drop-shadow( 0 -1px 5px #111111 );
            filter: drop-shadow( 0 -1px 5px #111 ); /* Same syntax as box-shadow */
}

text {
  font-family: Allerta, sans-serif;  
}

h1 {
  margin: 5px 15px;
}
h2 {
  margin: 5px 35px;
}
h3 {
  margin: 0 55px;
}
h4 {
  margin: 0 45px;
}

#search-header {
  background-color: #74C2E1;
  overflow:hidden;
  height: 300px;
}
h1.search {
    margin: 0 10px;
}


h1.search {
    margin: 20px 10px;
    width: 450px;
}

#content {
  border: 1px solid;
}

.map_canvas {
  border: 1px solid;
  width: 250px;
  height: 250px;
}

#appTitle {
    border:0;
    text-align: center;
}
#appHeader {
    background:white;
    height: 100px;
} 
#appHeader ul {
  list-style: none;
  padding: 0;
  margin: 0px 25px;
  border-width: 0 0 0 0;
}

#appHeader li {
  display: inline;
  border: solid;
  border-width: 1px 1px 0px 1px;
  background-color: white;
  margin: 1em 1em 0 0;
  padding: 0.4em 0 0 0;
  line-height: 26pt;
  font-size: 20pt;
}

#appHeader li.active {
  padding-bottom: 1px;
  background-color: #444;
  border-width: 0px 0px 0px 0px;
}

#appHeader li a {
  padding: 0 1.3em;
  /*font: 1.2em arial, helvetica, sans-serif;*/
  /*font-family: arial, helvetica, sans-serif;*/
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

#appHeader li a:visited {
  color: black; 
}

.active a{
  color: white;
}
#appHeader .active a:visited{
  color: white;
}

p#login-info {
  margin: 15px;   
  text-align: right;
}

#login-info a:visited, #login-info a:link {
  color: #3a3;
  text-decoration: none;
}
