body {
  background: url(images/gridding_background_lightened.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

a>h3#hover {
  /*  */
  text-decoration: none;  
}
