@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
  font-family: 'Lato', 'sans-serif';
  padding-bottom:60px;
  padding-top:60px;
}

.navbar-default .navbar-nav > li > a {
  color: #166494;
}
.navbar .navbar-brand {
  padding: 10px;
}
.navbar .navbar-brand img {
  width: 50px;
}


.name-holder{
  padding:10px;
  /*color: #002E62;*/
}

.container{
  font-size:1.2em;
}

.centered{
  text-align:center;
}

.fixed-height-list{
  max-height: 250px;
  overflow:scroll;
}

.page-header{
  border-bottom: 1px solid #eee;
}

html, body {
  margin: 0;
  padding: 0;
  border-width:0;
  font-family: Allerta, sans-serif;
}

div#main {
  font-family: 'Antic Slab', serif;
  margin-top: 50px;
}

#navbar {
  font-family: 'Audiowide', cursive;
}


body, p {
  margin: 20px 60px;
}
