body {
  font-family: 'Lato', 'sans-serif';
  padding-bottom:60px;
  padding-top:50px;
  margin-bottom: 80px;
  background-color: #F2F1EF !important;
}

h2 {
    padding-top: 15px;
    text-decoration: underline;
}

p.watershed-state-blurb {
    text-align: justify;
}

.navbar .navbar-default {
  /*[>color: #166494;<]*/
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  /*[>color: #166494;<]*/
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar .navbar-brand img {
  /*width: 50px;*/
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 }


.name-holder{
  padding:10px;
  /*color: #002E62;*/
}

div.container{
  /*font-size:1.15em;*/
  width: 75%;
}

.centered{
  text-align:center;
}

.fixed-height-list{
  max-height: 250px;
  overflow:scroll;
}

.page-header{
  border-bottom: 1px solid #eee;
}

div#abstract-blurb {
    text-align: justify;
    margin: 0 10% 5% 5%;
}

.watershed-header {
    text-align: right;
}

.state-header {
    color: #bbb;
    text-align: right;
}

html, body {
  /*margin-left: -15px;*/
  padding: 10px;
  border-width:0;
  font-family: Allerta, sans-serif;
}

div#main {
  /*font-family: 'Antic Slab', serif;*/
  margin-top: 50px;
  margin-bottom: 50px;
}

#navbar {
  /*font-family: 'Audiowide', cursive;*/
  /*font-family: 'Antic Slab', cursive;*/
}


body, p {
  margin: 20px 60px;
}

/*#splash-opts {*/
  /*display: table;*/
/*}*/
.thumbnail{
    height: 275px;
    border: 4pt black;
}

/*#splash-opts .panel {*/
  /*float: none;*/
  /*display: table-cell;*/
  /*vertical-align: top;*/
/*}*/

.central-nav-blurb {
  /*top: 180px;*/
}

.central-nav-img {
  /*width: 200px;*/
  width: 70%;
  top: 20px;
  border-top: 100px;
  position: relative;
}

#grid-create-img {
  width: 300px;
  top: 20px;
  border-top: 100px;
  position: relative;
}

#windninja-img {
  width: 220px;
  top: 20px;
  border-top: 100px;
  position: relative;
}

#prms-mows-img {
  width: 220px;
  top: 20px;
  border-top: 100px;
  position: relative;
}

.central-nav-blurb {
  top: 45px;
  position: relative;
}

a.splash-opt .thumbnail {
  /*background-color: #216999; */
  background-color: #1D0D0B;
  opacity: .5;
  font-size: 14px;
  color: white;
  text-decoration:none;
}
a .thumbnail h3 {
  font-size: 20px;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none !important;
}

div#splash-opts>a:hover{
    text-decoration:none;
}

div#splash-opts>h3:hover {
    text-decoration: none;
}
a.splash-opt .thumbnail:hover {
  color: #AAA;
  /*text-decoration: none;*/
  /*background: lightblue;*/
  opacity: .8;
}

a.splash-opt {
  text-decoration: none;
}
.thumbnail:link  {
  color: black;
  text-decoration: none;
}

.thumbnail-title {
  margin: 2% 5%;
  font-weight: bold;
  /*text-align: center;*/
}

.border-bottom{
  border-bottom: 1px solid #e7e7e7;
}

.margin-bottom{
  margin-bottom: 10px;
}

#makegrid-form-container {
  margin: 0 auto;
  width: 75%;
}

#makegrid-submit {
  margin: 0 auto;
  width: 100%;
}

#makegrid-watershed-select {
  margin: 0 auto;
  width: 100%;
}

div.container table tr td.file-list {
    vertical-align: middle;
    width:90%;
}

span.badge {
  float: left;
  background-color: green;
  margin: auto 4px;
}

.isnobal-label {
    width: 100%
}

span.badge>a {
  color: white;
  background-color: green;
}


footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20px;
    padding: 20 0px;
    background-color: #3E3F3A;
    color: white;
}

#jumbotron {
    /* */
    /*background-color: #A8A495;*/
    background-color: #82B6D6;
    /*margin-top: 20px;*/
}

div.custom-carousel-title {
    padding-top: 10px;
    padding-bottom: 14em;
}

div.tool-type-thumbnail {
    background-color: #ccc;
    margin: 0 10pt;
}

div#who-we-are {
    margin: 0 0;
    text-align: justify;
    font-size: 1.2em;
}

.who-number {
    font-size: 1.3em;
    font-weight: bold;
}

.personnel-component-header {
    text-align: right;
    font-weight: bold;
}

.contributor-card {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

/*div.panel {*/
    /*background-color: #ccc;*/
/*}*/
