  <table class="table table-striped">
    <thead>
      <tr>
        <td><b>File Name</b></td>   
        <td><b>Watershed Name</b></td>   
        <td><b>Description</b></td> 
        <td><b>Services and models</b></td>
      </tr>
    </thead>

  {% for record in records_list %}
    <tr>
      <td>{{ record['name'] }}</td>  
      <td>{{ record['categories'][0]['location'] }}</td>   
      <td>{{ record['description'] }}</td>  

      {% if record['services']|length > 0 %}
      <td class="file-list">
        <span class="badge">
          <a href= {{ record['services'][1]['wcs'] }}>WCS</a>
        </span>
        <span class="badge">
          <a href= {{ record['services'][0]['wms'] }}>WMS</a>
        </span>
      </td>
      {% endif %}

    {% if not record['downloads'][0]['tif'] %}
     {% for key in record['downloads'][0] %}
      <td class="file-list">
        <span class="badge">
          <a href= {{ record['downloads'][0][key] }}>Download</a>
        </span>
      </td>
     {% endfor %}
    {% endif %}

    <td class="file-list">
      <!--<span class="badge">-->
        <button type="button"
                class="btn btn-default btn-sm badge" data-toggle="modal">
          Visualize
        </button>
      <!--</span>-->
    </td>
    {% if record['categories'][0]['modelname'] == 'isnobal' and
       record['name'][-2:] == 'nc' %}
      <td class="file-list">
        <!--<span class="badge">-->
          <button type="button"
                  class="btn btn-primary btn-sm badge" data-toggle="modal"
                  data-target="#run-isnobal-modal-{{ record['uuid'] }}">
            iSNOBAL
          </button>
        <!--</span>-->
      </td>
    {% endif %}

    </tr>
  {% endfor %}
  </table>

{% for record in records_list %}
  {% include "common/runIsnobalModal.html" %}
{% endfor %}

