<!-- instruct/confirm modal -->
<div id="run-isnobal-modal-{{ record['uuid'] }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="run-isnobal-aria-{{ record['uuid'] }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times</span>
        </button>
        <h4 id="run-isnobal-aria-{{ record['uuid'] }}" class="modal-title">Finalize iSNOBAL Run</h4>
      </div>
      <div class="modal-body" id="modal-body-{{ record['uuid'] }}">
        <p>
        Running the model with this file as input will create a new file under
        this same model_run_uuid with the file name 
        <pre>isnobal_output_{datetime}</pre> Confirm by pressing the "Run..."
        button below.
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">Cancel Run</button>
        <button class="btn btn-primary" type="button" 
          data-dismiss="modal" 
          onclick="runModel(&quot;isnobal&quot;, &quot;{{ record['uuid'] }}&quot; )">
           Run iSNOBAL with this file as input</button>
      </div>
    </div>
  </div>
</div>

<script>
function runModel(modelName, fileUuid)
{
  var postData = {'model_name': modelName, 'dataset_uuid': fileUuid};
  
  $('#modal-body-' + fileUuid).empty();

  $('#modal-body-' + fileUuid)
    .append('<img src="/static/images/ajax-loader.gif"></img>');

  $.post("/modeling/isnobal/run", postData)
      .done(function(returnData) {
        window.location.replace("/modeling/isnobal/" + returnData.model_run_uuid);
        });
}
</script>
