{% extends "base.html" %}
{% set active_page = "share.index" %}

{% block link %}
  {{ super() }}
  <link href="/static/f.css" rel="stylesheet">
{% endblock %}

{% block head_ext %}
<style>
  input, select { 
    width: 100%;
  }
</style>
<script type="text/babel" src="/static/js/share.js"></script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {% if model_run_name %}
    <h1>
      View or add files to resource
    </h1>
    <h2 style="text-align:center">
      <span>Resource Name:</span> <b>{{ model_run_name }}</b>
    </h2>
    <h2 style="text-align:center">
      <span>Description:</span> <b>{{ model_run_desc }}</b>
    </h2>
    <h2 style="text-align:center">
      <span>Model Run UUID:</span> <b>{{ model_run_uuid }}</b>
    </h2>
    {% else %}
    <p>
    Please return to {{ url_for('share.resources') }} and click the link
    for the resource you'd like to add to.
    </p>
    {% endif %}
  </div>
</div>

<br> </br>

<h1>Upload new data</h1>
<div class="container">
  <div style="background:#888;padding:0 0 15px;" class="col-md-8 col-md-offset-2">
  <form action="insert" method="post" enctype="multipart/form-data">

    <div class="col-md-12">
      <h4>Select file to upload </h4>
      <input name="file" type="file" value="" id="file"></input>
    </div>

    <div class="col-md-12">
      <h4>Model</h4>
      <select name="model" id="model">
        <option value="isnobal">iSNOBAL</option>
        <option value="prms">PRMS</option>
        <option value="HydroGeoSphere">CASiMiR</option>
        <option value="HydroGeoSphere">DFLOW</option>
        <option value="HydroGeoSphere">HydroGeoSphere</option>
        <option value="reference">reference</option>
      </select>
    </div>

    <div class="col-md-12">
      <h4>Watershed</h4>
      <select name="watershed" id="watershed">
        <option value="Valles Caldera">Valles Caldera</option>
        <option value="Dry Creek">Dry Creek</option>
        <option value="Reynolds Creek">Reynolds Creek</option>
        <option value="Lehman Creek">Lehman Creek</option>
      </select>
    </div>

    <div class="col-md-12">
      <h4>Description</h4>
      <input name="description" rows="5" value="" id="description"></input>
    </div>

    <div class="col-md-12">
      <h4>Model Set (inputs, outputs, or reference)</h4>
      <select id="model_set" name="model_set">
        <option value="inputs">inputs</option>
        <option value="outputs">outputs</option>
        <option value="reference">reference</option>
      </select>
    </div>
    <br>
    <div class="col-md-12">
      <input style="margin-top:20px;" class="btn btn-primary" style="width:100%" type="submit" value="Insert"/>
    </div>
   <input style="width:100%" name="uuid" type="hidden" 
          value={{ model_run_uuid }} id="uuid"></input>
  </form>
  </div>
</div>

<h1>List of data in this resource</h1>

<div id="react-resource-list"></div>

<script type="text/babel">
var mr_uuid = '{{model_run_uuid}}';
console.log(ReactDOM);
{% if model_run_uuid %}
ReactDOM.render(
    <FileBox baseUrl='/api/modelruns/'
             pollInterval={1000}
             modelrunUUID={mr_uuid}/>,
    document.getElementById('react-resource-list')
);
{% endif %}
</script>

</div>
</body>

{% endblock %}
