{% extends "base.html" %}
{% block link %}
  {{ super() }}
  <link href="/static/f.css" rel="stylesheet">
{% endblock %}
{% block content %}
{{ super() }}

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Share your watershed data!</h1>
    <p>
      Welcome to the watershed data sharing portal.
    </p>
    <p>
      By sharing your data,
      you are helping to increase mankind's awareness of its predicament in
      this anthropocene era.
    </p>
    <p>
      Below you can either create a new resource, or upload files to an
      existing resource. Leave the URL field blank in the new resource field
      if your data is either not available over the web, or you'd prefer to
      upload your data without reference to the web-available version.
    </p>

      <div class="well">
          <h3>Create a new Resource</h3>
          <form method="POST">
              {{ form.csrf_token }}

              <div class="form-group">
                  <label for="title" class="control-label">{{form.title.label}}</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>

              <div class="form-group">
                  <label for="description" class="control-label">{{form.description.label}}</label>
                  <textarea class="form-control"  rows="5" id="description" name="description"></textarea>
              </div>

              <div class="form-group">
                  <label for="keywords" class="control-label">{{form.keywords.label}}</label>
                  <input type="text" class="form-control" id="keywords" name="keywords">
              </div>

              <div class="form-group">
                  <label for="url" class="control-label">{{form.url.label}}</label>
                  <input type="text" class="form-control" id="url" name="url">
              </div>

              <div class="centered">
                <button type="submit" class="btn btn-small btn-success">{{form.submit.label}}</button>
              </div>

          </form>

      </div>
  </div>



</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {% if current_user.resources %}
    <h3>
      Your Currently Shared Resources
    </h3>
    <p>
      Click "View and add files for this resource" to populate this resource
    </p>
    {% else %}
    <h3>
      You haven't shared any resources yet.
    </h3>
    {% endif %}
    {# Comment
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <th>Resource Title</th>
          <th>Description</th>
          <th>Keywords</th>
          <th>URL</th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
          {% for r in current_user.resources %}
            <tr>
              <td>{{ r.title }}</td>
              <td>{{ r.description }}</td>
              <td>{{ r.keywords }}</td>
              <td>{{ r.url }}</td>
              <td>add files</td>
            </tr>

          {% endfor %}

        </tbody>

      </table>
    </div>
    #}

    {# comment
    {% for r in current_user.resources %}
    <div class=user-resources>

      <p text-align: right>
      {% if r.url[:3] == 'ftp' %}
        <a href="#">
          Harvest (download all data on FTP, zipped into single archive)
        </a>
      {% endif %}
      </p>
      <p>
        <a href={{ url_for('share.files', model_run_uuid=r.uuid) }}>
          View and add files for this resource
        </a>
      </p>
    </div>
    {% endfor %}
    #}
  </div>

  {% for r in current_user.resources %}
    <div class="col-md-4">
      <div class="panel panel-primary ">
        <div class="panel-heading">
          {{ r.title }}
        </div>
        <ul class="list-group fixed-height-list">
          <li class="list-group-item">
            <strong>Description:</strong> {{ r.description }}
          </li>
          <li class="list-group-item">
            <strong>Keywords:</strong> {{  r.keywords  }}
          </li>
          <li class="list-group-item">
            <strong>Url:</strong> <a href={{ r.url }}>{{ r.url }}</a>
          </li>
          {% if r.url[:3] == 'ftp' %}
            <li class="list-group-item">
              <a class="btn btn-success btn-block" href="#">
                Harvest (download all data on FTP, zipped into single archive)
              </a>
            </li>
          {% endif %}
          <li class="list-group-item">
            <a class="btn btn-success btn-block" href={{ url_for('share.files', model_run_uuid=r.uuid) }}>
              View and add files for this resource
            </a>
          </li>

        </ul>
      </div>

    </div>

  {% endfor %}


</div>


{% endblock %}
