<!DOCTYPE html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Allerta' 
          rel='stylesheet' type='text/css'>
    <link type="text/css" href='static/base.css' rel='stylesheet'></link>


    <title>Virtual Watershed Platform</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>    

  </head>
  <body>
  {% set navigation_bar = [('/', 'index', 'Home'),
                           ('/search', 'search', 'Search'),
                           ('/about', 'about', 'About')] %}
  {% set active_page = active_page|default('index') %}
  <div id="appHeader">
  <h1 id=appTitle>Virtual Watershed Platform</h1>
    <ul>
      {% for href, id, caption in navigation_bar %}
      <li{% if id == active_page %} class="active"{% endif %}>
        <a href="{{ href|e }}" {% if id == active_page %}class="active"{% endif %}>{{ caption|e }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  </div>
  <div id=nonheaderBody>
  {% block content %}{% endblock %}
  </div>
  </body>
</html>
