{% extends 'base.html' %}
{% block scripts %}
    {{ super() }}
     <link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.1.0/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <!-- <link href="../dist/css/timeline.css" rel="stylesheet"> -->
    <link href="/static/dashboard/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <!-- <link href="../dist/css/sb-admin-2.css" rel="stylesheet"> -->
    <link href="/static/dashboard/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <!-- <link href="../bower_components/morrisjs/morris.css" rel="stylesheet"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.1.0/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <!--<script src="../bower_components/raphael/raphael-min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
    <!--<script src="../bower_components/morrisjs/morris.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
{% endblock %}

{% block content %}

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row" id="modelruns-container" data-user-id="{{ current_user.id }}" >

        </div>

    </div>
    <!-- /#page-wrapper -->

</div>

<script type="text/babel" src="/static/dashboard/components/modelrun.js"></script>
<script type="text/babel" src="/static/dashboard/components/modelresource.js"></script>
<script type="text/babel" src="/static/dashboard/components/modelprogress.js"></script>
<script type="text/babel" src="/static/dashboard/components/modelrunform.js"></script>
<script type="text/babel" src="/static/dashboard/components/dashboardbox.js"></script>

<script type="text/babel" src="/static/dashboard/app.js"></script>

<script type="text/babel">
  var userId= $('#modelruns-container').data('user-id')
  var apiUrl = "{{VWMODEL_SERVER_URL}}"
  var modelrunsQuery = {
    "filters": [{
      "name": "user_id",
      "op": "eq",
      "val": userId
    }],
    "order_by": [{
      "field": "created_at",
      "direction":"desc"
    }]
  };
  var modelrunsUrl = apiUrl+"modelruns";

  var modelresourceUrl = "upload";

  var schemas;
  $.ajax({
      url:apiUrl,
      type:'GET',
      contentType:false,
      processData: false,
      cache: false,
      success: function(data) {
        React.render(
           <ModelRunBox title='Model Runs' apiUrl={apiUrl}
                  url={modelrunsUrl}
                  modelresourceUrl={modelresourceUrl}
                  query={modelrunsQuery}
                  userid={$('#modelruns-container').data('user-id')}
                  schemas={data['models']} />,
          document.getElementById('modelruns-container')
        );
      },
      error: function(xhr, status, err) {
        console.error(status, err.toString());
      }
  });


</script>

    <!-- /#wrapper -->
{% endblock %}
