{% extends "base.html" %}
{% set active_page = "modeling.index" %}

{% block link %}
{{ super() }}
<style>
p {
    margin: 35px 0;
}
p#main-blurb {
    padding: 5px; 
    font-size: 1.1em; 
    background-color:#555; 
    color: white;
    text-align: justify;
}
</style>
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-xs-6">
        <h1 style="text-decoration: underline">Modeling</h1>
    </div>
    <div class="col-xs-6">
        <h3>Quick Links:</h3>
        <ul>
            <li>
                <a href="/modeling/dashboard">
                    Modeling Dashboard
                </a>
            </li>
            <li>
                <a href="http://miles.giscenter.isu.edu/CE/tool.html">
                    ISU Gridding Tool
                </a>
            </li>
            <!--<li>-->
                <!--<a href="http://miles.giscenter.isu.edu/CE/tool.html">-->
                    <!--API Documentation Page-->
                <!--</a>-->
            <!--</li>-->
        </ul>
    </div>
</div>

<p id="main-blurb">
    Welcome to the Virtual Watershed's modeling platform. If you've been here
    before you may want to continue along to the 
    <a href="/modeling/dashboard">modeling dashboard</a>. If not, please read
    on to learn how to use the Virtual Watershed online modeling system.
</p>

<div id="remaining-blurb">
    <p>
        This system is built on a number of tools developed by WC-WAVE developers.
        Embedded in this 
        <a href="https://github.com/VirtualWatershed/vw-webapp">Virtual Watershed webapp</a> 
        is Moinul Hossain's modeling service, known on 
        <a href="https://github.com/itsrifat/vwadaptor">
            GitHub as the vwadaptor
        </a> project.
        We currently support only two models to be run through the Dashboard.
        Eventually we will also have  
        `<a href="http://miles.giscenter.isu.edu/CE/tool.html">Dr. Donna Delparte's lab's gridding tool</a>. 
        Tucker Chapman is currently the lead developer
        of the project that was initiated by Joel Johansen. You can even read
        <a href="http://specimens.iri.isu.edu/etd/GetFile.aspx?exid=303&etid=1&mtid=1&inpage=true">his thesis</a> to get more information.
    </p>
    
    <p>
        To get started using this system you will need to provide data. Currently
        we only have instructions ready for iSNOBAL. Follow this link 
        <a href="/static/ipynb/generate_isnobal_nc.html">to an IPython notebook</a>
        to learn how to generate an iSNOBAL-ready netCDF.  It is meant to be
        run from within the <a href="https://github.com/VirtualWatershed/vw-py">vw-py</a>
        package's <code>examples/isnobal_netcdf</code> directory. 
        It's included in non-runnable HTML format below. Go to GitHub, clone the
        repository, follow the installation instructions on the GitHub repository
        page, and you should be good to go. That is not easy to do, and whenever
        you have trouble please <a href="mailto:maturner@uidaho.edu">get in touch</a> as
        soon as possible! Your feedback helps us improve these instructions and
        the whole Virtual Watershed.
    </p>
</div>


{% endblock %}
