{% extends "base.html" %}
{% set active_page = "modeling.index" %}

{% block link %}
  {{ super() }}
{% endblock %}

{% block content %}

<h1>Modeling</h1>

<p>

</p>


<h2>Models</h2>

<p>
    Welcome to the Virtual Watershed's modeling platform. If you've been here
    before you may want to continue along to the 
    <a href="/modeling/dashboard">modeling dashboard</a>. If not, please read
    on to learn how to use the Virtual Watershed online modeling system.
</p>

<p>
    This system is built on a number of tools developed by WC-WAVE developers.
    The main interface is part of this o
    <a href="https://github.com/VirtualWatershed">Virtual Watershed webapp</a> 
    and the modeling service is Moinul Hossain's 
    <a href="https://github.com/itsrifat/vwadaptor">vwadaptor</a> project.
    We currently support only two models to be run through the Dashboard.
    You can also generate gridded data for certain watersheds with the 
    a[href=/modeling/makegrid]{Gridding Tool page}, which was made by 
    Dr. Donna Delparte's lab. Tucker Chapman is currently the lead developer
    of the project that was initiated by Joel Johansen.
</p>

<p>
    To get started using this system you will need to provide data. Currently
    we only have instructions ready for iSNOBAL.
</p>

{% endblock %}
