{% extends "base.html" %}

{% block content %}

{% if model_run_name %}
  <h2>Click below to run iSNOBAL with resource named</h1>

  <h1 style="text-align:center"><b> {{ model_run_name }}</b></h1>

  <!-- run isnobal button triggers modal with finalization instruct/confirm -->
  <button type="button" class="btn btn-success isnobal-label"
          data-toggle="modal" data-target="#run-isnobal-modal"
          >
    Run iSNOBAL
  </button>

  <!-- instruct/confirm modal -->
  <div id="run-isnobal-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="run-isnobal-aria">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times</span>
          </button>
          <h4 id="run-isnobal-aria" class="modal-title">Finalize iSNOBAL Run</h4>
        </div>
        <div class="modal-body">Are you sure?</div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">Cancel Run</button>
          <a class="btn btn-primary" type="button" 
            href="{{ url_for('vw_isnobal', model_run_uuid=panel.model_run_uuid) }}">
             Run with this configuration</a>
        </div>
      </div>
    </div>
  </div>


{% else %}
  <h2>Select a resource from the iSNOBAL-enabled resources below</h2>

  {% if panels %}
      <div class="bg-success">
          <h3>Found {{ panels|length }} results</h3>
      </div>

      {% set start_row = true %}
      {% for panel in panels %}
          {% if start_row==true %}
              <div class="row">
              {% set start_row = false %}
          {% endif %}
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">
                    {{ panel.model_run_name }}  
                  </h3>

              </div>
              <ul class="list-group fixed-height-list">

                  <li class="list-group-item">
                      <strong>Description:</strong> {{ panel.description }}
                  </li>
                  <li class="list-group-item">
                      <strong>Keywords:</strong> {{ panel.keywords }}
                  </li>
                  <li class="list-group-item">
                      <strong>Researcher:</strong> {{ panel.researcher_name }}
                  </li>
                  <li class="list-group-item">
                      <span class="btn btn-success isnobal-label">
                        Run iSNOBAL
                      </span>
                  </li>
              </ul>

          </div>
      </div>
      {% if loop.index is divisibleby 3 %}
          </div>
          {% set start_row = true %}
      {% endif %}
      {% endfor %}

  {% else %}
      <div class="bg-warning">
          <h3>No results found for the query</h3>
      </div>
  {% endif %}
{% endif %}


{% endblock %}
