<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/site.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Audiowide|Antic+Slab' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Virtual Watershed Platform</title>

    {% block scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/holder.min.js"></script>
    <script src="/static/site.js"></script>
    {% endblock %}

    {% block head_ext %}
    {% endblock %}

  </head>
  <body>

  {% set navigation_bar = [('/', 'main.index', 'Home'),
                           ('/search', 'main.search', 'Search'),
                           ('/share', 'share.index', 'Share')] %}
  {% set active_page = active_page|default('index') %}

  <div class="container">


  <header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> 
          <a href="/"><img height="45"
            src="/static/images/wcwave_logo.jpg"> </a>
          <a style="padding:0 0 0 100px" href="https://github.com/mtpain/vwplatform/issues/new?labels=feedback&assignee=mtpain">FEEDBACK</a>
          
        </div>

        <div class="collapse navbar-collapse" id="navbar">

          <ul id="main-menu" class="nav navbar-nav navbar-right">
            {% for href, id, caption in navigation_bar %}

              {% if request.endpoint %}


              <li{% if id == request.endpoint or
                       request.endpoint[:5] == href[1:6] %} class="active"
                 {% endif %}>

                <a href="{{ href|e }}"
                  {% if id == request.endpoint %} class="active"
                  {% endif %}>{{ caption|e }}
                </a>
              </li>
              {% elif href == request.script_root  %}
                <a href="{{ href|e }}" class="active">{{ caption|e }}</a>
              </li>


             {% else %}

             <li> <a href="{{ href|e }}">{{ caption|e }}</a></li>

             {% endif %}

            {% endfor %}

            <!-- profile -->
            {% if current_user and current_user.is_authenticated() %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ current_user.name }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#={{ current_user.name }}">My Account</a></li>
                  <li><a href="/auth/logout">Logout</a></li>
                </ul>
              </li>

            {% else %}

              <li><a href="/auth/register">Create an Account</a></li>
              <li><a href="/auth/login">Login</a></li>
            {% endif %}


          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

  </header>

  <div id="main">
    {# The main content #}
    {% block content %}
    {% endblock %}
  </div>

</div>


  </body>
</html>
