<!DOCTYPE html>
  <head>
    <link href='//fonts.googleapis.com/css?family=Allerta' 
          rel='stylesheet' type='text/css'>
    <link type="text/css" href='/static/base.css' rel='stylesheet'></link>
    <style>{% block style %}{% endblock %}</style>


    <title>Virtual Watershed Platform</title>

    {% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>    
    {% endblock %}

  </head>
  <body>
  <p id=login-info>
      {% if current_user and current_user.is_authenticated() %} Welcome, {{ current_user.name }} <br> 
      <a href="#={{ current_user.name }}">My Account</a> <br>
        <a href="/auth/logout">Logout</a> 
  {% else %}
    <a href="/auth/register">Create an Account</a> <br> or <a href="/auth/login">Login</a>
  {% endif %}
  </p>

  {% set navigation_bar = [('/', 'main.index', 'Home'),
                           ('/search', 'main.search', 'Search'),
                           ('/about', 'main.about', 'About'),
                           ('/share', 'share.index', 'Share')] %}
  {% set active_page = active_page|default('index') %}

  <div id="appHeader">
    <h1 id=appTitle>Virtual Watershed Platform</h1>
    <ul>

      {% for href, id, caption in navigation_bar %}

      <li{% if id == request.endpoint %} class="active"{% endif %}>
        <a href="{{ href|e }}" {% if id == request.endpoint %}class="active"{% endif %}>{{ caption|e }}</a>
      </li>

      {% endfor %}

    </ul>
  </div>
  </div>
  <div id=nonheaderBody>
  {% block content %}{% endblock %}
  </div>
  </body>
</html>
