<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block link %}
    <link href="/static/site.css" rel="stylesheet">
    <link href="/static/bower_components/bootswatch-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {% endblock %}
    <title>Virtual Watershed Platform</title>

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
    <script src="/static/bower_components/bootswatch-dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.25.2/react-bootstrap.js"></script>

    <script src="/static/holder.min.js"></script>
    <script src="/static/jquery.rest.min.js"></script>

    <script src="/static/site.js"></script>
     <script src="/static/modelrun.js"></script>
    {% endblock %}

    {% block head_ext %}
    {% endblock %}

  </head>
  <body>

  {% set navigation_bar = [('/', 'main.index', 'Home'),
                           ('/search', 'main.search', 'Search'),
                           ('/modeling', 'modeling.index', 'Modeling'),
                           ('/share', 'share.index', 'Share')
                           ] %}
  {% set active_page = active_page|default('index') %}

  <div class="container">

  <header>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

            <a class="navbar-brand" style="position:absolute;">The Virtual Watershed</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">

          <ul id="main-menu" class="nav navbar-nav navbar-right">
            {% for href, id, caption in navigation_bar %}

              {% if request.endpoint %}


              <li{% if id == request.endpoint or request.endpoint[:5] == href[1:6] %}
                    class="active"
                 {% endif %}>

                <a href="{{ href|e }}"
                  {% if id == request.endpoint %} class="active"
                  {% endif %}>{{ caption|e }}
                </a>
              </li>
              {% elif href == request.script_root  %}
                <a href="{{ href|e }}" class="active">{{ caption|e }}</a>
              </li>


             {% else %}

             <li> <a href="{{ href|e }}">{{ caption|e }}</a></li>

            {% endif %}

            {% endfor %}

            <!-- profile -->
            {% if current_user and current_user.is_authenticated() %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ current_user.name }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#={{ current_user.name }}">My Account</a></li>
                  <li><a href="{{config['VWWEBAPP_LOGOUT_URL']}}">Logout</a></li>
                </ul>
              </li>

            {% else %}

              <li><a href="{{config['VWWEBAPP_REGISTER_URL']}}">Create an Account</a></li>
              <li><a href="{{config['VWWEBAPP_LOGIN_URL']}}">Login</a></li>
            {% endif %}


          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

  </header>

      <div id="main">

        {% block content %}
        {% endblock %}
      </div>

    <footer class="navbar-default navbar-fixed-bottom">
        <p><b>Problems with site content or functionality?</b> Please report
            it as an
            <a href="https://github.com/VirtualWatershed/vw-webapp/issues/new">
                issue on GitHub
            </a>
        </p>
        {{session['api_token']}}
    </footer>
</div>

  </body>
</html>
