<!--
  In template call, we will have something like this where there will be
  an array of json representations of each model run description. Then we can
  for-loop over them, and creating a new block for each JSON that's there.
-->
{% extends "base.html" %}
{% set active_page = "search" %}
{% block content %}

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div id="searchFormContainer" class="centered">
      <form method="get" class="form-inline">

        <div class="form-group">
            <label for="model_run_name" class="control-label">{{form.model_run_name.label}}</label>
            <input type="text" class="form-control" id="model_run_name" name="model_run_name">
        </div>

        <button type="submit" class="btn btn-small btn-success">{{form.submit.label}}</button>
      </form>
    </div>


    {% if panels %}
      <h1 class="page-header"> Search Results! </h1>
      {% for panel in panels %}
        <div class="col-md-4">
          <div class="panel panel-primary ">
            <div class="panel-heading">
               {{ panel.model_run_name }}
            </div>
            <ul class="list-group fixed-height-list">
              <li class="list-group-item">
                <strong>Watershed:</strong> {{ panel.watershed }}
              </li>
              <li class="list-group-item">
                <strong>State:</strong>  {{ panel.state }}
              </li>
              <li class="list-group-item">
                <strong>Model context:</strong>  {{ panel.model }}</a>
              </li>

            </ul>
          </div>

        </div>
      {% endfor %}

    {% endif %}


  </div>
</div>
{% endblock %}
