<!--
  In template call, we will have something like this where there will be
  an array of json representations of each model run description. Then we can
  for-loop over them, and creating a new block for each JSON that's there.
-->
{% extends "base.html" %}
{% set active_page = "search" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="border-bottom">
                Search Form
            </h3>
            <p> Fill up the search form with your choice of query parameter </p>
        </div>
    </div>

    <div class="row">
    <div class="col-md-offset-2 col-md-8">

        <div id="searchFormContainer" class="margin-bottom">
                <form method="get" action="" >
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" form-group">
                        <label for="exampleInputName2">{{ form.model_run_name.label }} </label>
                        {{ form.model_run_name(class="form-control") }}
                    </div>
                    {#<div class=" form-group">
                        <label for="exampleInputName2">{{ form.researcher_name.label }} </label>
                        {{ form.researcher_name(class="form-control") }}
                    </div>
                        </div>
                        <div class="col-md-6">
                             <div class=" form-group">
                        <label for="exampleInputName2">{{ form.keywords.label }} </label>
                        {{ form.keywords(class="form-control") }}
                    </div>

                    <div class="form-group">
                        <label for="exampleInputName2">{{ form.description.label }} </label>
                        {{ form.description(class="form-control") }}
                    </div>#}
                        </div>
                    </div>
                    <div class="centered">
                        <button type="submit" name="submit" value="submit" class="btn btn-success">Search Model Run</button>
                    </div>

                </form>
            </div>
            {% set messages = get_flashed_messages() %}
            {% if messages %}
            <div class="bg-danger">{{ messages[0] }}</div>
            {% endif %}

    </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            {% if panels %}
                <div class="bg-success">
                    <h3>Found {{ panels|length }} resources ready for iSNOBAL!</h3>
                </div>

                {% set start_row = true %}
                {% for panel in panels %}
                    {% if start_row==true %}
                        <div class="row">
                        {% set start_row = false %}
                    {% endif %}
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{ panel.model_run_name }}
                            </h3>

                        </div>
                        <ul class="list-group fixed-height-list">

                            <li class="list-group-item">
                                <strong>Description:</strong> {{ panel.description }}
                            </li>
                            <li class="list-group-item">
                                <strong>Keywords:</strong> {{ panel.keywords }}
                            </li>
                            <li class="list-group-item">
                                <strong>Researcher:</strong> {{ panel.researcher_name }}
                            </li>
                            {% if 'isnobal' in panel.keywords %}
                              <li class="list-group-item">
                              <a href="{{url_for('processing.isnobal')}}/{{ panel.model_run_uuid}}">
                                <span class="btn btn-success isnobal-label">
                                    Run iSNOBAL
                                </span>
                              </a>
                              </li>
                            {% endif %}

                        </ul>

                    </div>
                </div>
                {% if loop.index is divisibleby 3 %}
                    </div>
                    {% set start_row = true %}
                {% endif %}
                {% endfor %}

            {% else %}
                <div class="bg-warning">
                    <h3>No results found for the query</h3>
                </div>
            {% endif %}


        </div>
    </div>
{% endblock %}
